<div class="flex-container-demo">
  <h3>Flex Container</h3>
  <div class="p-d-flex demo-1">Flex Container</div>
  <div class="p-d-inline-flex demo-1">Inline Flex Container</div>
</div>
<hr />
<div class="direction-demo">
  <h3>Direction</h3>
  <p>Row (default)</p>
  <div class="p-d-flex">
    <div class="p-mr-2 demo-1">Item 1</div>
    <div class="p-mr-2 demo-1">Item 2</div>
  </div>
  <p>Row-reverse</p>
  <div class="p-d-inline-flex p-flex-row-reverse">
    <div class="p-mr-2 demo-1">Item 1</div>
    <div class="p-mr-2 demo-1">Item 2</div>
  </div>
  <p>Column</p>
  <div class="p-d-inline-flex p-flex-column">
    <div class="p-mr-2 demo-1">Item 1</div>
    <div class="p-mr-2 demo-1">Item 2</div>
  </div>
  <p>Column-reverse</p>
  <div class="p-d-inline-flex p-flex-column-reverse">
    <div class="p-mr-2 demo-1">Item 1</div>
    <div class="p-mr-2 demo-1">Item 2</div>
  </div>
</div>
<hr />
<div class="demo-wrap">
  <h3>Wrap</h3>
  <p>No wrap</p>
  <div class="p-d-inline-flex">
    <div class="p-mr-2 p-mb-2 demo-1">Item 1</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 2</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 3</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 4</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 5</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 6</div>
  </div>
  <p>Wrap</p>
  <div class="p-d-inline-flex p-flex-wrap">
    <div class="p-mr-2 p-mb-2 demo-1">Item 1</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 2</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 3</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 4</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 5</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 6</div>
  </div>
  <p>Wrap-reverse</p>
  <div class="p-d-inline-flex p-flex-wrap-reverse">
    <div class="p-mr-2 p-mb-2 demo-1">Item 1</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 2</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 3</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 4</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 5</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 6</div>
  </div>
</div>
<hr />
<div class="demo-justify">
  <h3>Justify content</h3>
  <p>Start</p>
  <div class="p-d-flex p-jc-start demo-justify-border">
    <div class="p-mr-2 p-mb-2 demo-1">Item 1</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 2</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 3</div>
  </div>
  <p>End</p>
  <div class="p-d-flex p-jc-end demo-justify-border">
    <div class="p-mr-2 p-mb-2 demo-1">Item 1</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 2</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 3</div>
  </div>
  <p>Between</p>
  <div class="p-d-flex p-jc-between demo-justify-border">
    <div class="p-mr-2 p-mb-2 demo-1">Item 1</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 2</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 3</div>
  </div>
  <p>Center</p>
  <div class="p-d-flex p-jc-center demo-justify-border">
    <div class="p-mr-2 p-mb-2 demo-1">Item 1</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 2</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 3</div>
  </div>
  <p>Around</p>
  <div class="p-d-flex p-jc-around demo-justify-border">
    <div class="p-mr-2 p-mb-2 demo-1">Item 1</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 2</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 3</div>
  </div>
  <p>Evenly</p>
  <div class="p-d-flex p-jc-evenly demo-justify-border">
    <div class="p-mr-2 p-mb-2 demo-1">Item 1</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 2</div>
    <div class="p-mr-2 p-mb-2 demo-1">Item 3</div>
  </div>
</div>
<hr />
<div class="align-items-demo">
  <h3>Align Items</h3>
  <p>Start</p>
  <div class="p-d-flex p-ai-start">
    <div class="p-mr-2 demo-1" style="height: 100px">Item 1</div>
    <div class="demo-1" style="height: 50px">Item 2</div>
  </div>
  <p>End</p>
  <div class="p-d-flex p-ai-end">
    <div class="p-mr-2 demo-1" style="height: 100px">Item 1</div>
    <div class="demo-1" style="height: 50px">Item 2</div>
  </div>
  <p>Center</p>
  <div class="p-d-flex p-ai-center">
    <div class="p-mr-2 demo-1" style="height: 100px">Item 1</div>
    <div class="demo-1" style="height: 50px">Item 2</div>
  </div>
</div>
<hr />
<div class="align-self-demo">
  <h3>Align self</h3>
  <div class="p-d-flex" style="height: 150px">
    <div class="p-mr-2 demo-1 p-as-start">Start</div>
    <div class="p-mr-2 demo-1 p-as-center">Center</div>
    <div class="p-mr-2 demo-1 p-as-end">End</div>
    <div class="p-mr-2 demo-1 p-as-stretch">Stretch</div>
  </div>
</div>
<hr />
<br />
<h2>Grid System</h2>
<div class="p-grid">
  <div class="p-col demo-1 p-mr-2 p-mb-2">1</div>
  <div class="p-col demo-1 p-mr-2 p-mb-2">2</div>
  <div class="p-col demo-1 p-mr-2 p-mb-2">3</div>
</div>
<p>12 Column Grid</p>
<div class="p-grid">
  <div class="p-col-2 demo-1">2</div>
  <div class="p-col-6 demo-1">6</div>
  <div class="p-col-4 demo-1">4</div>
</div>
<p>MultiLine</p>
<div class="p-grid">
  <div class="p-col-6 demo-1">6</div>
  <div class="p-col-6 demo-1">6</div>
  <div class="p-col-6 demo-1">6</div>
  <div class="p-col-6 demo-1">6</div>
</div>
<p>Responsive</p>
<div class="p-grid">
  <div class="p-col-12 p-md-6 p-lg-3 demo-1">Item 1</div>
  <div class="p-col-12 p-md-6 p-lg-3 demo-1">Item 2</div>
  <div class="p-col-12 p-md-6 p-lg-3 demo-1">Item 3</div>
  <div class="p-col-12 p-md-6 p-lg-3 demo-1">Item 4</div>
</div>
<p>Offset</p>
<div class="p-grid">
  <div class="p-col-6 p-offset-3 demo-1">6</div>
</div>
<br />
<div class="p-grid">
  <div class="p-col-4 demo-1">4</div>
  <div class="p-col-4 p-offset-4 demo-1">4</div>
</div>
<hr />
<br />
<h2>From Layout</h2>
<div class="p-field">
  <label for="idLabel">Label</label><br />
  <input type="text" id="idLabel" pInputText />
</div>

<b>Vertical layout</b>
<div class="p-fluid">
  <div class="p-field">
    <label for="firstname1">Firstname</label>
    <input id="firstname1" type="text" pInputText />
  </div>
  <div class="p-field">
    <label for="lastname1">Lastname</label>
    <input id="lastname1" type="text" pInputText />
  </div>
</div>

<b>Vertical Layout with Grid</b>
<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col">
    <label for="firstname1">Firstname</label>
    <input id="firstname1" type="text" pInputText />
  </div>
  <div class="p-field p-col">
    <label for="lastname1">Lastname</label>
    <input id="lastname1" type="text" pInputText />
  </div>
</div>

<b>Advanced form</b>
<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 p-md-4">
    <label for="">Họ</label>
    <input type="text" pInputText />
  </div>
  <div class="p-field p-col-12 p-md-4">
    <label for="">Tên</label>
    <input type="text" pInputText />
  </div>
  <div class="p-field p-col-12 p-md-4">
    <label for="">Tuổi</label>
    <input type="text" pInputText />
  </div>
</div>
